<br><h1><u>GLOBAL EVENTS / EVENTS HAPPENING SOON</u></h1>
<h3 class='center'>Powered by the Smash.gg API</h3>

<%responses.forEach(function(response){ %>

    <hr><h2><a href='/events/<%=response.slug%>'><%=response.name%></a></h2> 
    <hr>
    <p>Time Zone: <%=response.timezone%></p>
    <p>Location: <%=response.city%> <%=response.addrState%></p>
    <p>Start Time: <%=new Date(parseInt(response.startAt) * 1000)%></p>
    <p>End Time: <%=new Date(parseInt(response.endAt) * 1000)%></p>
    <br>
<%})%>