<h1>GLOBAL EVENTS / EVENTS HAPPENING SOON</h1>

<%responses.forEach(function(response){ %>

    <hr><h2><a href="/events/<%=response.slug%>"><%=response.name%></a></h2> <hr>
    <p>Time Zone: <%=response.timezone%></p>
    <p>Location: <%=response.city%> <%=response.addrState%></p>
    <p>Venue: <%=response.venueName%></p>
    <p>Venue Address: <%=response.venueAddress%></p>
    <br>
<%})%>