<h1 class='center'><u><%=event.name%></u></h1>
<h2 class='center'>Venue: <%=event.venue%></h2>
<h2 class='center'>When: <%=event.date%>, <%=event.startTime%>-<%=event.endTime%></h2>
<br>
<hr>
<br>
<h1 class='center'>Description/Relevant Info:</h1>
<p class='center'><%=event.description%></p>
